/* Write your CSS here */
.item-cont {
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
}
.image {
  width: 80px;
  margin-right: 15px;
}
.team {
  color: white;
  font-family: 'Bree serif';
  font-size: 30px;
  font-weight: 400;
  width: 250px;
  text-align: center;
}
.link {
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .team {
    font-size: 15px;
  }
  .image {
    width: 50px;
  }
  .item-cont {
    width: 200px;
    margin: 5px;
    height: 120px;
  }
  .team {
    font-size: 18px;
  }
}
